
body {
	background-color: lightgrey;
	color: #5c749c
}
	
.title {
	text-align: center;
	text-transform: uppercase;
	color:#728777;
}

.titlediv {
	border-style: solid;
	border-color: black;
	padding: 10px;
}

.column{
	float: left;
	width:50%;
	
}