.about_container_maps {
	margin: 20px;
	border: 15px solid white;
	background: white;
	border-radius: 10px;
	height: 400px;
}

input[type=text], select{
	width: 14.5%;
	margin: 5px 0;
	padding: 10px 20px;
	border: 5px solid #9fa1b3;
	border-radius: 50px;
	box-sizing: border-box;
}

input[type=text]:hover, select:hover{
	  border-color: #64656e;
	  transition: 0.5s;
}

input[type=submit] {
	width: 29%;
	margin: 5px 0;
	padding: 10px 20px;
	background-color: #9fa1b3;
	color: white;
	border: solid;
	border-radius: 50px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #64656e;
	transition: 0.5s;
}

textarea {
	width: 29%;
	margin: 5px 0;
	padding: 10px 20px;
	border: 5px solid #9fa1b3;
	border-radius: 50px;
	box-sizing: border-box;
}

textarea:hover {
	border-color: #64656e;
	transition: 0.5s;
}

#googleMap {
	float: right;
	width:70%;
	height:400px;
	border-radius: 10px;
}

.container {
	height: 125px;
}

.social {
	width: 50px;
	height: 50px;
}

.leidkeMeidSiit {
	float: left;
	width: 50%
}

.emailAadress {
	float: left;
	width: 50%
}

.email {
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
}

.aadress {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
}
