body{background-color: #b41b00;}

.ülemine-riba{
    background-color: blanchedalmond;
    overflow: hidden;
    font-size: 16px;
    text-transform: uppercase;
    
}
.ülemine-riba a:link{
    text-decoration: none;
    background-color: green;
    padding: 6px 10px;
    display: inline-block;
    color: white;
}
.ülemine-riba a:visited{
    text-decoration: none;
    color: white;
}
.ülemine-riba #about{
    float: right;
}