h1{
    text-align: center;
}

.container {
	float: left;
}

img{
    width: 520px;
    height: 340px;
    float: inline-end;
    border-radius: 10px;
    border-color: rgba(170,160,130,0.5);
    border-width: 8px;
    border-style: solid;
}
ul li{
    cursor: pointer;

}
.checked{
    text-decoration: line-through;
    opacity: 0.5;
}
iframe{
    width: 520px;
    height: 340px;
}