body {
	background-image: url("https://previews.123rf.com/images/viktory/viktory1410/viktory141000103/32598705-seamless-pattern-with-hand-drawn-cookware-on-the-lined-paper-kitchen-background-retro-wallpaper-with.jpg"); 
    background-position: 60% 537%;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 45%
}

.sansserif {
	font-family: Arial, Helvetica, sans-serif;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color:#728777;
}

.titlediv {
	padding: 10px;
	border: 5px solid #9fa1b3;
	border-radius: 0px 0px 50px 50px;
	background-color: white;
}

.ülemine-riba {
    background-color: #9fa1b3;
	border: 5px solid #9fa1b3;
	border-radius: 10px 10px 0px 0px;
}
.ülemine-riba a:link{
    text-decoration: none;
    background-color: white;
    padding: 6px 10px;
    display: inline-block;
    color: white;
}
.ülemine-riba a:visited{
    text-decoration: none;
    color: #728777;
}
.ülemine-riba #about{
    float: right;
}

.container, .slideContent {
	margin: 20px;
	border: 15px solid white;
	background: white;
	border-radius: 10px;
}

h1{
    font-family: "Courier New", Courier, monospace;
}
p{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}