h1{
    text-align: center;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;  

}
.left{
    background-color: rgb(255, 248, 190);
    float: left;
    padding: 20px;
    line-height: 24px;
    border-radius: 10px;
    border-color: rgba(170,160,130,0.5);
    border-width: 8px;
    border-style: solid;
}
#pilt{
    width: 50%;
    height: 50%;
    float: inline-end;
    border-radius: 10px;
    border-color: rgba(170,160,130,0.5);
    border-width: 8px;
    border-style: solid;
}
